@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
        font-family:'poppins', 'Ping Fang TC','微軟正黑體','sans-serif';
}
html {
    scroll-behavior: smooth;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #222;
    padding: 8px 25px;
    border-radius: 8px;
}
.btn-blue {
    background-color: #0b74fd;
    color: #000;
    transition: .3s;
}
.btn-blue:hover {
    background-color: #88bcff;
}
.btn-dark {
    background-color: #222;
    color: #fff;
}
.btn-light {
    background-color: #eee;
    color: #222;
    transition: .3s;
}
.btn-light:hover {
    background-color: #222;
    color: #eee;
}

/* text-align */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}