body {
    background-color: #505050;
}
/* 導覽列 */
nav {
    width: 100%;
    padding-block: 6px;
    background-image: linear-gradient(45deg, #a096ff, #ff8968b4 90%); /* 設定漸層角度及顏色 */
    backdrop-filter: blur(8px);
    padding-inline: 15px;
    position: fixed;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.nav-toggle {
    display: block;
    position: absolute;
    top: 8px;
    right: 15px;
    color: rgba(33, 31, 31, 0.77);
    transition: .3s;
}
.nav-toggle.active  {
    color: #ffffff;
    background-color: initial;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a.logo {
    display: inline-block;
    padding: 5px;
    width: 250px;
    transition: .3s;
}
nav a.logo:hover {
    letter-spacing: 5px;
}
a.logo{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
}
.menu .nav-btn {
    font-weight:bold;
    display: inline-block;
    font-size: 18px;
    margin-inline: 25px;
    padding: 10px 15px;
    transition: .3s;
    border-radius: 10px;
}
.menu-group {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.menu-group a {
    display: inline-block;
    /* margin-inline: 15px; */
    color: #000000;
    padding: 12px 15px;
    transition: .3s;
}
.menu-left {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 背景圖片樣式 */
.back-size {
    opacity: 0;
    animation: fadeIn 1s .3s forwards;
    width: 100%;
    padding-bottom: 66%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    position: relative;
}
.back-1 {
    padding-top: 100px;
    background-image: url('./images/home1-2.jpg');
}
.back-2 {
    padding-top: 100px;
    background-image: url('./images/home2.jpg');

}
#members {
    /* padding-top: 47px; */
    width: 300px;
    padding-block: 20px;
    border-radius: 15px;
    background-color: #ffffffaa;
    backdrop-filter: blur(5px);
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    opacity: 0;
    animation: fadeIn 2s 0.6s forwards;

}
#members h2 {
    font-size: 2rem;
    text-align: center;
    color: transparent; /* 文字顏色設定透明 */
    background-image: linear-gradient(45deg, #404040, #929292 80%); /* 設定漸層角度及顏色 */
    -webkit-background-clip: text; /*背景裁剪成文字的前景色*/
    background-clip: text;
}
#members p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: transparent; /* 文字顏色設定透明 */
    background-image: linear-gradient(45deg, #5d4bff, #ff5e31 80%); /* 設定漸層角度及顏色 */
    -webkit-background-clip: text; /*背景裁剪成文字的前景色*/
    background-clip: text;
}
.start-company {
    position: absolute;
    top: 50.2px;
    left: 0;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight:600;
    animation: expand 1.2s ease-in-out;   
}
.boss-name {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight:600;
    animation: expand 1.8s ease-in-out; 
}
.company-introduce {
    position: absolute;
    top: 130px;
    left: 0;
    background-color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight:600;
    animation: expand 2.4s ease-in-out;
}
.company-introduce a {
    text-decoration: none;
    color:#000000 ;
    transition: .3s;
} 
.company-introduce a:hover {
    color:#2d2d2dc4 ;
} 
.modal{
    display: none;
    position: relative;
    z-index: 1000;
}
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
}
.modal-container {
    max-width: 750px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding: 30px;
    border-radius: 12px;
    margin: auto;

    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#boss {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-115%,-50%);
}
.boss-content {
    width: 175px;
    height: 175px;
    padding: 15px 10px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(8, 8, 8, 0.466);
    color: var(--white);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 36%;
    right: 4%;
}
.content-text h2 {
    font-size: 1.2rem;
    text-align: center;
}
.content-text p {
    font-size: 0.8rem;
    text-align: center;
}
.pic-out {
    border: 4px solid rgba(255, 255, 255, 0.747); /* 初始邊框設定 */
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.pic-in {
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('./images/boss1.jpg');
}
#about {
    padding-block-start: 150px;
    padding-block-end: calc(150px + 10vw);
    background-color: #fff9ea;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw),0 100%);
    opacity: 0;
    animation: fadeIn 1s .9s forwards;
    position: relative;
    z-index: 20;
}
#about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#about h3 {
    font-size: 2rem;
    margin-block: 20px;
}
#about .head-sticker {
    width: 150px;
    height: 150px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid #505050;
    border-radius: 50%;
    overflow: hidden;
}
#about .people1 {
    background-image: url('./images/廖老大.jpg');
    transform:scale(1,1);
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
} 
#about .people1:hover {
    transform:scale(1.2,1.2);
}
#about .people2 {
    background-image: url('./images/詠哥.jpg');
    transform:scale(1,1);
    transition: all .2s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
#about .people2:hover {
    transform:scale(1.2,1.2);
}
#about .people3 {
    background-image: url('./images/我.jpg');
    transform:scale(1,1);
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
#about .people3:hover {
    transform:scale(1.5,1.5);
}
#News {
    background-color: #ffe9c4;
    position: relative;
    margin-top: -10vw;
}
.collapse {
    width: auto;
    box-sizing: content-box;
    margin: auto;

    visibility: hidden;
    opacity: 0;

    height: 0;
    overflow: hidden;

    transition: .3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    margin-block-start: 25px;
    border-radius: 50px;
    width: 250px;
    padding-block-start: 20px;
    position: relative;
}
.collapse .introduce a {
    margin-top: 15px;
}
.collapse .introduce {
    padding-block-start: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.collapse-panel.active {
    visibility: visible;
    opacity: 1;
}
footer {
    background-color: #505050;
    color: var(--white);
    width: 100%;
    padding-block: 20px;
    letter-spacing: 2px;
}
@media (min-width:1200px) {
    nav {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
    .menu .nav-btn:hover {
        background-color: rgb(71, 71, 71);
        border-radius: 10px;
        color: var(--white);
    }
    .nav-btn.active {
        background-color: rgb(71, 71, 71);
        border-radius: 10px;
        color: var(--white);
    }
    .logo {
        width: 500px;
    }
    nav a.logo  {
        width: 350px;
        padding-top: 10px;
        font-size: 20px;
    }    
    .menu a {
        font-size: 18px;
        font-weight: bold;
    }
    .menu-group {
        display: flex;
        height: initial;
        overflow: initial;
    }
    .menu-left {
        flex-direction: row;
    }
    .menu-right {
        flex-direction: row;
    }    
    .back-size {
        padding-top: 0px;
    }
    #members {
        width: 700px;
        padding-block: 40px;
        transform: translate(-50%,-70%);
    }
    #members h2 {
        font-size: 5rem;
    }
    #members p {
        font-size: 2.5rem;
    }
    .start-company {
        top: 65px;
        font-size: 25px;
        animation: expand 1.2s ease-in-out;   
    }
    .boss-name {
        top: 120px;
        font-size: 25px;
        animation: expand 1.8s ease-in-out; 
    }
    .company-introduce {
        top: 175px;
        font-size: 25px;
        animation: expand 2.4s ease-in-out;
    }
    .company-introduce a {
        text-decoration: none;
        color:#000000 ;
        transition: .3s;
    } 
    .company-introduce a:hover {
        color:#2d2d2dc4 ;
    } 
    #boss {
        transform: translate(-50%,-75%);
    }
    .boss-content {
        width: 400px;
        height: 325px;
        padding: 30px;
        border-radius: 100px;
        top: 15%;
        right: 5%;
        background-color: #ffffff6b;
        color: #000000;
    }
    .content-text h2 {
        font-size: 2.5rem;
    }
    .content-text p {
        font-size: 1.5rem;
    }
    .pic-out {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
    .pic-in {    
        background-image: url('./images/boss.jpg');
    }
    #about {
        padding-block-end: calc(150px + 10vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes expand {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}